#mask, #mask-container, #form-container {
    width: 100%;
}


#password-div {
    display: flex;
    min-width: 10rem;
    max-width: 24rem;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 1rem;
}

#password-label {
    display: flex;
    flex-grow: inherit;
    width: 90%;
    margin-bottom: 0;
}

#password-label > span {
    display: inline-block;
    overflow: hidden;
    letter-spacing: 0.1rem;
}

#pwdBox {
    display: inline-block;
    margin-left: 0.7rem;
    width: auto;
    flex: auto;
}

#pwd-confirm {
    display: inline-block;
    margin-left: 1rem;
    border: 0.5px solid #aaaaaa;
    border-radius: 0.7rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}