#mask, #mask-container, #form-container {
    width: 100%;
}

#password-div {
    display: flex;
    min-width: 10rem;
    max-width: 29rem;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 1.5rem;
    padding: 0;
}

#password-div > div {
    display: flex;
    flex-direction: column;
}

#password-label {
    display: flex;
    flex-grow: inherit;
    width: 100%;
    margin-bottom: 0;
    flex-direction: row;
}

#password-label > span {
    display: inline-block;
    overflow: hidden;
    letter-spacing: 0.1rem;
}

#pwdBox {
    display: inline-block;
    margin-left: 0.5rem;
    width: auto;
    flex: auto;
}

#pwd-confirm {
    display: inline-block;
    margin-left: 0.8rem;
    border: 0.5px solid #aaaaaa;
    border-radius: 0.7rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#show-password-label {
    margin-left: 2.8rem;
    font-size: 0.7rem;
}

#showPassword {
    margin: 0;
    margin-top: 1rem;
    margin-right: 0.3rem;
}

.seminar-table tbody {
    display: block;
    overflow-y: auto;
    height: 29.5rem;
    -webkit-overflow-scrolling: touch; 
}

.seminar-table tbody tr,
.seminar-table thead {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.seminar-table:first-child {
    margin-bottom: 0.3rem;
}

.seminar-container > div {
    padding: 0;
}

.seminar-container > div > div {
    margin-bottom: 0;
}

.seminar-title-container {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}