#mask {
    display: flexbox;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#mask-container {
    width: 100%;
}

#form-container {
    width: 100%;
}

#password-div {
    display: flex;
    min-width: 10rem;
    max-width: 22rem;
}

#password-label {
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
}

#pwdBox {
    display: inline;
    margin-left: 0.7rem; 
}

#pwd-confirm {
    display: inline-block;
}