.navbar-light .navbar-nav>.nav-item>.nav-link,
.navbar-light .navbar-nav>.nav-item>.nav-link:focus {
  white-space: nowrap;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  color: $sta-menu-text;
}
.navbar-light .navbar-nav>.nav-item>.nav-link:hover {
  margin-top: 0;
  background-color: rgba(56, 75, 245, 0.705);
}

.qqq{
  transition: all 0.2s linear;
}


.qqq:hover{
  transform: scale(1.9);
  transition: all 0.2s linear;
}

